.button {
  margin-left: 12px;
}

.innerBox {
  padding: 30px;
}
@media (max-width:1200px){
  .innerBox {
    padding: 10px;
  }
}
.childrenBox {
  padding: 0 30px 30px 30px;
}

.error {
  color: rgb(244, 67, 54);
}

.head {
  background-color: rgba(0, 0, 0, 0.05);
  color: #a1a1a1;
  padding: 18px 0 18px 30px !important;
}

.input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  height: 60px;
  text-indent: 30px;
}

.input:hover,
.input:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.relatedProducts {
  margin: 15px 0;
}

.relatedProduct {
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  /* padding: 5px; */
  font-size: 14px;
  display: flex;
  align-items: center;
  /*  */
  padding: 14px 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 13px;
  color: #44444f;
  font-family: Roboto,sans-serif;
}

.relatedProduct:hover {
  border: 1px solid #3DD598;
}




.relatedProductImage {
  min-width: 120px;
}
.relatedProductText {
  flex-grow: 1;
}
.relatedProductActions {
  min-width: 60px;
  text-align: center;
}

.relatedProductText a {
  color: #008eb4;
  text-decoration: none;
}

.relatedProductText div {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 4px;
}

.relatedProductImage img {
  max-height: 100px;
  max-width: 100px;
}

.relatedProductDisabled .relatedProductImage,
.relatedProductDisabled .relatedProductText {
  opacity: 0.25;
}
.btnCreate {
  font-family: Poppins,sans-serif!important;
  font-weight: 600!important;
  font-size: 12px!important;}

  .productName{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    color: #171725!important;
    font-family: Poppins,sans-serif;

  }


  .number{
    color: #92929d;

  }