.button {
	margin-left: 12px;
}

.innerBox {
	padding: 30px 30px 30px 30px;
}
@media (max-width: 1200px) {
	.innerBox {
		padding: 10px;
	}
}
.innerText label {
  padding:0!important;}

.innerText input {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	font-weight: 500 !important;
}

.error {
	color: rgb(244, 67, 54);
}
